<h1>Welcome to Audio Sinner</h1>
<%= erb :search, :layout => false %>

<% if params[:send] %>
<div id="notice">Your file is being uploaded now. It might take up to 10 minutes. <a href="/">Click to refresh this page.</a></div>
<% end %>

<div id="results">
  <%= @files %>
</div>
