<h1>Welcome to Audio Sinner</h1>
<%= erb :search, :layout => false %>

<% if params[:send] %>
<div id="notice" class="<%= params[:key] %>">Your file is being transfered now. This page will refresh when it's all done</div>
<% end %>

<div id="results">
  <h2>Here's what's available without searching:</h2>
  <%= @files %>
</div>
