<form action="/search" method="GET" id="search">
  <input type="search" name="q" id="search-field" value="<%= params[:q] %>" />
  <img src="/images/ajax-loader.gif" id="spinner" style="display:none"/>
</form>
