/*
Colors:
  yellow: ffb03b
  green: 468966
  lightO: b64926
  darkO: 8e2800
  cream: fff0a5
*/

body {
  font-family: Verdana, Arial, sans-serif;
	font-size: medium;
	text-align: center;
	color: #8e2800;
	line-height: 1.3em;
	background: black;
	margin: 0;
}

a { text-decoration: underline; }
a:link { color: #468966; }
a:hover { color: #204530; }
a:visited { color: #204530; }

h1 { 
  font-size: 200%; 
  font-weight: bold; 
  margin-bottom: 1em;
}

h2 { 
  font-size: 130%; 
  font-weight: bold; 
  margin-bottom: 0em;
}

#page {
  background: #fff0a5;
  font-size: 75%;
  width: 50em;
  margin: 0 auto;
  text-align: left;  
}

#header {
  text-align: center;
}

#header {
  height: 7.333em;
  background: url('../images/header-bar.png') repeat center;
}

#header a {
  background: #fff0a5 url('/images/header-background.png') repeat-x;
  height: 5.333em;
  display: block;
  position: relative;
  padding-bottom: 0.9em;
  top: 0.3em;
}

#header img {
  height: 3.25em;
  margin-top: 1.5em;
}

#content {
  margin: 2em 0;
  padding: 0 3em;
}

#footer {
  font-size: 83.333%;
  text-align: center;
  padding: 0.5em;
}

/* common styles */
a.mp3 {
  padding-left: 1.3em;
  background: url('../images/mp3.gif') no-repeat;
  vertical-align: middle;
}

#notice {
  border-top: 2px solid #8e2800;
  border-bottom: 2px solid #8e2800;
  background: #ffb03b;
  padding: 0.5em 1em;
  margin: 1em 1em;
  clear: both;
}

.highlight {
  background-color: #ffb03b;
}
/* ## page styles ## */
/* Home page */

#home h1 {
  float: left;
}

#home #search {
  float: right;
  margin-top: 0.3em;
}

#home #results {
  clear: both;
  line-height: 2em;
}

ul#file-list {
  clear: both;
  line-height: 3em;
}